body {
    background-color: white;
}

.nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav-link {
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
}

.nav-link:hover {
    opacity: 1;
}

.nav-link.active {
    opacity: 1;
}

.nav-link::before {
    transition: 300ms;
    height: 4px;
    border-radius: 10px;
    content: "";
    position: absolute;
    background-color: green;
}

.nav-link-ltr::before {
    width: 0%;
    bottom: 10px;
}

.nav-link-ltr:hover::before {
    width: 100%;
}
