body {
    background-color: #f2f0ea;
    color: #1E4830;
    font-family: Gilda Display, serif;
}

h1 {
    font-size: 90px;
}

name {
	font-size: 150px;
}

header {
    position: absolute;
    z-index: 2;
}

p {
    font-size: 24px;
}

.nav {
    display: flex;
    z-index: 1;
    justify-content: right;
    width: 100%;
    margin-top: 80px;
    background-color: #304c26;
    border-radius: 13px;
}

.nav-link {
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    text-align: center;
    color: #f3f0ea;
    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
}

.nav-link:hover {
    opacity: 1;
}

.nav-link.active {
    opacity: 1;
}

.nav-link::before {
    transition: 300ms;
    height: 4px;
    border-radius: 10px;
    content: "";
    position: absolute;
    background-color: #ce5d2a;
}

.nav-link-ltr::before {
    width: 0%;
    bottom: 10px;
}

.nav-link-ltr:hover::before {
    width: 100%;
}

.gilda-display-regular {
    font-family: "Gilda Display", serif;
    font-weight: 400;
    font-style: normal;
}

.footerstyle {
    background-color: #304c26;
    color: #f3f0ea;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 12px;
    width: 100%;
}

.container {
	margin-left:20px;
	margin-right: 20px;
	margin-top: 30px;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	border-color: #074B3F;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	}
	
.flex {
	  display: flex;
	  flex-direction: row;
	  justify-content: space-between;
	}	
	
.floatleft {
			float: left;
			
	}

.floatright {
		float: right;
		
	}
	
.image {
	margin: 50px;
	border-radius: 10px;
	text-align: center;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1; 
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {color: #d05b25;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}


	